{{- if  index .Values "components" "dt-credentials" "enabled" }}
apiVersion: v1
kind: Secret
metadata:
  name: dt-credentials
  namespace: "{{ .Release.Namespace }}"
type: Opaque
{{- with index .Values "components" "dt-credentials" }}
stringData:
  DT_OTEL_ENDPOINT: {{ .collector_tenant_endpoint | required "collector_tenant_endpoint is required when dt-credentials is enabled. Set it via --set-string components.dt-credentials.collector_tenant_endpoint=value or DT_OTEL_ENDPOINT environment variable" }}
  DT_INGEST_TOKEN: {{ .collector_tenant_token | required "collector_tenant_token is required when dt-credentials is enabled. Set it via --set-string components.dt-credentials.collector_tenant_token=value or DT_INGEST_TOKEN environment variable" }}
{{- end }}
{{- end }}
  