{{- if .Values.components.ingress.enabled -}}
{{- $ipWhitelistAnnotation := include "opentelemetry-demo.ingressWhitelistAnnotation" . -}}
{{- $customAnnotations := include "opentelemetry-demo.ingressCustomAnnotations" . -}}
{{- $ingressTls := include "opentelemetry-demo.ingressTls" . -}}
{{- $host := required "[host] is required when [ingress] is enabled" .Values.components.ingress.host -}}
{{- if .Values.components.ingress.components.root -}}
---
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  name: frontendproxy-root
  namespace: "{{ .Release.Namespace }}"
  annotations:
    {{ $ipWhitelistAnnotation }}
    nginx.ingress.kubernetes.io/rewrite-target: /
    {{ $customAnnotations }}
spec:
  ingressClassName: nginx
  {{ $ingressTls }}
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 8080
{{- end }}
{{- if .Values.components.ingress.components.images }}
---
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  name: frontendproxy-rewrite-images
  namespace: "{{ .Release.Namespace }}"
  annotations:
    {{ $ipWhitelistAnnotation }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{ $customAnnotations }}
spec:
  ingressClassName: nginx
  {{- if .Values.components.ingress.secretName }}
  tls:
    - hosts:
        - {{ $host }}
      secretName: {{ .Values.components.ingress.secretName }}
  {{- end }}
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: /images(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: image-provider
                port:
                  number: 8081
{{- end }}
{{- if index .Values.components.ingress.components "flagd-ui" }}
---
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  name: frontendproxy-rewrite-feature
  namespace: "{{ .Release.Namespace }}"
  annotations:
    {{ $ipWhitelistAnnotation }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{ $customAnnotations }}
spec:
  ingressClassName: nginx
  {{- if .Values.components.ingress.secretName }}
  tls:
    - hosts:
        - {{ $host }}
      secretName: {{ .Values.components.ingress.secretName }}
  {{- end }}
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: /feature(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: flagd
                port:
                  number: 4000
---
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  name: frontendproxy-rewrite-feature-websocket
  namespace: "{{ .Release.Namespace }}"
  annotations:
    {{ $ipWhitelistAnnotation }}
    nginx.ingress.kubernetes.io/rewrite-target: /live/$2
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1" # Enable HTTP/1.1 for WebSocket support
    {{ $customAnnotations }}
spec:
  ingressClassName: nginx
  {{- if .Values.components.ingress.secretName }}
  tls:
    - hosts:
        - {{ $host }}
      secretName: {{ .Values.components.ingress.secretName }}
  {{- end }}
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: /featurelive(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: flagd
                port:
                  number: 4000
{{- end }}
{{- if index .Values.components.ingress.components "feature-flags" }}
---
apiVersion: "networking.k8s.io/v1"
kind: Ingress
metadata:
  name: frontendproxy-rewrite-flags
  namespace: "{{ .Release.Namespace }}"
  annotations:
    {{ $ipWhitelistAnnotation }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{ $customAnnotations }}
spec:
  ingressClassName: nginx
  {{- if .Values.components.ingress.secretName }}
  tls:
    - hosts:
        - {{ $host }}
      secretName: {{ .Values.components.ingress.secretName }}
  {{- end }}
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: /flagservice(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: flagd
                port:
                  number: 8013
{{- end }}
{{- end }}
