{{- if  index .Values "components" "dt-credentials" "enabled" }}
{{- with index .Values "components" "dt-credentials" }}
apiVersion: v1
kind: Secret
metadata:
  name: dt-credentials
type: Opaque
stringData:
  DT_ENDPOINT: {{ required "[tenantEndpoint] is required when [dt-credentials] is enabled" .tenantEndpoint }}
  DT_API_TOKEN: {{ required "[tenantToken] is required when [dt-credentials] is enabled" .tenantToken }}
{{- end }}
{{- end }}
