name: Approve bot PR

on:
  pull_request:
    types:
      - opened
    paths:
      - flagd/flagd-config.yaml
      - image-provider/src/src/getProductImage.js

jobs:
  approve:
    name: Auto-approve
    runs-on: ubuntu-22.04
    if: github.event.pull_request.user.login == 'demoability-robot'
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              event: "APPROVE"
            })
      - uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              merge_method: "squash"
            })
