name: "Image lambda deployment"
env:
  TF_VERSION: 1.13.4
  NODE_VERSION: "24"
  LAMBDA_TAG: "[AWS]git-repository:https://github.com/Dynatrace/opentelemetry-demo-gitops"

on:
  pull_request:
    types: [closed]
    branches: [DREL-5883-actions-for-image-provider]
    paths:
      - image-provider/**

jobs:
  deploy:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        dir: [image-provider]
        env: [staging, playground-dev]
        include:
          - env: staging
            dt_url_secret: "DT_URL_STAGING"
            dt_token_secret: "DT_TOKEN_STAGING"
          - env: playground-dev
            dt_url_secret: "DT_URL_PLAYGROUND_DEV"
            dt_token_secret: "DT_TOKEN_PLAYGROUND_DEV"
    defaults:
      run:
        shell: bash
    steps:
      - name: Git checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 2

      - name: Determine changes
        id: check_changes
        run: |
          ENV_DIR=${{ matrix.dir }}/terraform/environments/${{ matrix.env }}
          FILES_CHANGED=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.sha }} -- $ENV_DIR)

          if [[ -z "$FILES_CHANGED" ]]; then
            echo "No changes for ${{ matrix.env }}, skipping deployment."
            echo "skip=true" >> $GITHUB_OUTPUT
          else
            echo "Changes for ${{ matrix.env }} detected, proceeding with deployment."
            echo "skip=false" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS credentials from AWS account
        id: aws_auth
        if: steps.check_changes.outputs.skip == 'false'
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHub-OIDC-TERRAFORM

      - name: Set up Node.js
        id: setup_node
        if: steps.aws_auth.outcome == 'success'
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Prepare dependencies for lambda
        id: deps_build
        if: steps.setup_node.outcome == 'success'
        working-directory: ${{ matrix.dir }}/src
        run: npm install

      - name: Setup Terraform
        if: steps.deps_build.outcome == 'success'
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        if: steps.check_changes.outputs.skip == 'false'
        working-directory: ${{ matrix.dir }}/terraform/environments/${{ matrix.env }}
        id: tf_init
        run: terraform init

      - name: Terraform Plan
        if: steps.tf_init.outcome == 'success'
        working-directory: ${{ matrix.dir }}/terraform/environments/${{ matrix.env }}
        id: tf_plan
        run: terraform plan -no-color

      - name: Terraform Apply
        if: steps.tf_plan.outcome == 'success'
        working-directory: ${{ matrix.dir }}/terraform/environments/${{ matrix.env }}
        id: tf_apply
        run: terraform apply -no-color -auto-approve

      - name: Send events to Dynatrace
        if: steps.tf_apply.outcome == 'success'
        uses: dynatrace-oss/dynatrace-github-action@v9.1
        with:
          url: ${{ secrets[matrix.dt_url_secret] }}
          token: ${{ secrets[matrix.dt_token_secret] }}
          events: |
            - title: Github Actions for ${{ github.workflow }}
              type: CUSTOM_DEPLOYMENT
              entitySelector: type(SERVICE),tag("${{env.LAMBDA_TAG}}")
              properties:
                source: GitHub
                github.repository: "${{ github.repository }}"
                github.ref: "${{ github.ref }}"
                github.event_name: "${{ github.event_name }}"
                github.commit: "${{ github.sha }}"
                terraform.outcome: "${{ steps.tf_apply.outcome }}"
